# OpenAI API Key
OPENAI_API_KEY=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

# Deepgram API Key
DEEPGRAM_API_KEY=5d6f3d9ba4ac466173a8c9335c466bcf003a045f

# Cartesia API Key
CARTESIA_API_KEY=sk_car_R-dF04fAjBCKtjJGWK-q0